<template>
	<div id="content" class="app-lists">
		<AppNavigation>
			<AppNavigationNew v-if="!loading"
				:text="t('lists', 'New checklist')"
				:disabled="false"
				button-id="new-lists-button"
				button-class="icon-add"
				@click="newChecklist" />
			<ul>
				<AppNavigationItem v-for="checklist in checklists"
					:key="checklist.id"
					:title="checklist.title ? checklist.title : t('lists', 'New checklist')"
					:class="{active: currentChecklistId === checklist.id}"
					@click="openChecklist(checklist)">
					<template slot="actions">
						<ActionButton v-if="checklist.id === -1"
							icon="icon-close"
							@click="cancelNewChecklist(checklist)">
							{{ t('lists', 'Cancel checklist creation') }}
						</ActionButton>
						<ActionButton v-else
							icon="icon-delete"
							@click="deleteChecklist(checklist)">
							{{ t('lists', 'Delete checklist') }}
						</ActionButton>
					</template>
				</AppNavigationItem>
			</ul>
		</AppNavigation>
		<AppContent>
			<div v-if="currentChecklist" class="list-elements">
				<input ref="title"
					v-model="currentChecklist.title"
					type="text"
					:disabled="updating">
				<div v-for="checkitem in currentChecklist.content" class="element">
					<input v-model="checkitem.isCheck"
						type="checkbox"
						:disabled="updating">
					<input v-model="checkitem.textfield"
						type="text"
						:disabled="updating">
				</div>
				<input type="button"
					class="button-more"
					:value="t('lists', '+')"
					@click="newCheckitem">
				<input type="button"
					class="primary button-save"
					:value="t('lists', 'Save')"
					:disabled="updating || !savePossible"
					@click="saveChecklist">
			</div>
			<div v-else id="emptycontent">
				<div class="icon-file" />
				<h2>{{ t('lists', 'Create a checklist to get started') }}</h2>
			</div>
		</AppContent>
	</div>
</template>

<script>
import ActionButton from '@nextcloud/vue/dist/Components/ActionButton'
import AppContent from '@nextcloud/vue/dist/Components/AppContent'
import AppNavigation from '@nextcloud/vue/dist/Components/AppNavigation'
import AppNavigationItem from '@nextcloud/vue/dist/Components/AppNavigationItem'
import AppNavigationNew from '@nextcloud/vue/dist/Components/AppNavigationNew'

import '@nextcloud/dialogs/styles/toast.scss'
import { generateUrl } from '@nextcloud/router'
import { showError, showSuccess } from '@nextcloud/dialogs'
import axios from '@nextcloud/axios'

export default {
	name: 'App',
	components: {
		ActionButton,
		AppContent,
		AppNavigation,
		AppNavigationItem,
		AppNavigationNew,
	},
	data() {
		return {
			checklists: [],
			currentChecklistId: null,
			updating: false,
			loading: true,
		}
	},
	computed: {
		/**
		 * Return the currently selected checklist object
		 * @returns {Object|null}
		 */
		currentChecklist() {
			if (this.currentChecklistId === null) {
				return null
			}
			return this.checklists.find((checklist) => checklist.id === this.currentChecklistId)
		},

		/**
		 * Returns true if a checklist is selected and its title is not empty
		 * @returns {Boolean}
		 */
		savePossible() {
			return this.currentChecklist && this.currentChecklist.title !== ''
		},
	},
	/**
	 * Fetch list of checklists when the component is loaded
	 */
	async mounted() {
		try {
			const response = await axios.get(generateUrl('/apps/lists/checklists'))
			this.checklists = response.data
		} catch (e) {
			console.error(e)
			showError(t('lists', 'Could not fetch checklists'))
		}
		this.loading = false
	},

	methods: {
		/**
		 * Create a new checklist and focus the checklist content field automatically
		 * @param {Object} checklist Checklist object
		 */
		openChecklist(checklist) {
			if (this.updating) {
				return
			}
			this.currentChecklistId = checklist.id
			this.$nextTick(() => {
				this.$refs.content.focus()
			})
		},
		/**
		 * Action tiggered when clicking the save button
		 * create a new checklist or save
		 */
		saveChecklist() {
			if (this.currentChecklistId === -1) {
				this.createChecklist(this.currentChecklist)
			} else {
				this.updateChecklist(this.currentChecklist)
			}
		},
		/**
		 * Create a new checklist and focus the checklist content field automatically
		 * The checklist is not yet saved, therefore an id of -1 is used until it
		 * has been persisted in the backend
		 */
		newChecklist() {
			if (this.currentChecklistId !== -1) {
				this.currentChecklistId = -1
				this.checklists.push({
					id: -1,
					title: '',
					content: [],
				})
				this.$nextTick(() => {
					this.$refs.title.focus()
				})
			}
		},
		/**
		 * Create new Checkitem in current checklist
		 */
		newCheckitem() {
			if (this.currentChecklistId !== null) {
				this.currentChecklist.content.push({
					isCheck: 0,
					textfield: '',
				})
			}
		},
		/**
		 * Abort creating a new checklist
		 */
		cancelNewChecklist() {
			this.checklists.splice(this.checklists.findIndex((checklist) => checklist.id === -1), 1)
			this.currentChecklistId = null
		},
		/**
		 * Create a new checklist by sending the information to the server
		 * @param {Object} checklist Checklist object
		 */
		async createChecklist(checklist) {
			this.updating = true
			try {
				const response = await axios.post(generateUrl('/apps/lists/checklists'), checklist)
				const index = this.checklists.findIndex((match) => match.id === this.currentChecklistId)
				this.$set(this.checklists, index, response.data)
				this.currentChecklistId = response.data.id
			} catch (e) {
				console.error(e)
				showError(t('lists', 'Could not create the checklist'))
			}
			this.updating = false
		},
		/**
		 * Update an existing checklist on the server
		 * @param {Object} checklist Checklist object
		 */
		async updateChecklist(checklist) {
			this.updating = true
			try {
				const response = await axios.put(generateUrl(`/apps/lists/checklists/${checklist.id}`), checklist)
				const index = this.checklists.findIndex((match) => match.id === this.currentChecklistId)
				this.$set(this.checklists, index, response.data)
				this.currentChecklistId = response.data.id
			} catch (e) {
				console.error(e)
				showError(t('lists', 'Could not update the checklist'))
			}
			this.updating = false
		},
		/**
		 * Delete a checklist, remove it from the frontend and show a hint
		 * @param {Object} checklist Checklist object
		 */
		async deleteChecklist(checklist) {
			try {
				await axios.delete(generateUrl(`/apps/lists/checklists/${checklist.id}`))
				this.checklists.splice(this.checklists.indexOf(checklist), 1)
				if (this.currentChecklistId === checklist.id) {
					this.currentChecklistId = null
				}
				showSuccess(t('lists', 'Checklist deleted'))
			} catch (e) {
				console.error(e)
				showError(t('lists', 'Could not delete the checklist'))
			}
		},
	},
}
</script>
<style scoped>
	#app-content > div {
		width: 100%;
		height: 100%;
		padding: 20px;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.list-elements {
		display: flex;
		margin-left: 40px;
		margin-right: 40px;
		flex-direction: column;
	}

	input[type='text'] {
		width: 100%;
	}

	.button-more {
		align-self: flex-start;
	}

	.button-save {
		align-self: flex-end;
	}

	textarea {
		flex-grow: 1;
		width: 100%;
	}

	.element {
		display: flex;
		flex-direction: row;
	}
</style>
